/* common.css */
*{
    box-sizing:border-box;
}
body{
    margin: 0;
    background: #fafafa;
    font: 17px/1.7 arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;
    color: #555;
}
img{
     border: none;
}

.clearfix:before,
.clearfix:after{
    content: "";
    display: table;
}
.clearfix:after{
    clear: both;
}
.clearfix{
    *zoom: 1;
}
/* welcome.css */
.banner-page{
    background: url("images/01.jpg");
    height: 450px;
    background-size: cover;
    background-position: 50% 50%;
}
.tagline{
      font-size: 44px;
      font-weight: normal;
      color: #e2e3e4;
      text-align: center;
      margin-top: 150px;
      margin-bottom: auto;
}

.tagline-caption{
    color: #fff;
    font-size: 20px;
    text-align: center;
    opacity: 0.8;
}
.header{
    height: 70px;
    background: #1b39ab;
    margin-bottom: 30px;
}
.wrapper{
    width: 960px;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0px 2px 5px black;
    padding: 30px;
}
/* blog post */
.post-title{
    font-weight: normal;
    color: #eb3170;
    text-align: center;
    margin: 10px auto;
}
.post-img{
    max-width: 100%;
    display: block;
    margin: 30px auto;
}