<!--_layout/default -->
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>otherfish</title>
<link rel="stylesheet" href="main.css" type="text/css">
<link rel="stylesheet" href="css/font-awesome.min.css">
<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" />
</head>
<body class="welcome">
    <div class="header">
        <div class="container clearfix">
        <ul class="nav">
            <li class="current"><a href="index.html">Home</a></li>
            <li><a href="#">New Releases</a></li>
            <li><a href="about.html">All models</a></li>
        </ul>
        </div>
        <a href="index.html" class="logo">P</a>
    </div>
<!--_layout/default -->

{{ content }}

   <!--_layout/default -->
<div class="footer">
        <div class="container clearfix">
            <ul class="icon-wrapper">
                <li class="icon github"><a href="http://github.com/otherfish"><i class="fa fa-github-alt"></i></a></li>
                <li class="icon email"><a href="mailto:whoerbc#gmail.com"><i class="fa fa-envelope-o"></i></a></li>
                <li class="icon  weibo"><a href="http://weibo.com/otherfish"><i class="fa fa-weibo"></i></a></li>
            </ul>
        </div>
    </div>

</body>
</html>
<!--_layout/default -->